* {
  margin: 0;
  padding: 0;
}

body {
  background: #146654f8;
  min-height: 1500px;
}


header {
  background-size: cover;
  background-position: center;
  color: rgb(255, 250, 250);
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgb(29, 4, 4);
  width: 100%;
  animation: fadeInDown 1s ease both;
  position: relative;
}
header h1 {
  margin: 0;
  font-size: 32px;
}

header nav {
  margin-top: 10px;
  background-color: rgba(102, 52, 52, 0);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(255, 252, 252, 0);
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: rgb(255, 252, 252);
  text-decoration: none;
  transition: color 0.3s ease;
  animation: fadeIn 1s ease both;
}
#host-page {
  background-color: rgba(255, 255, 255, 0.575);
  padding: 30px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease both;
  position: relative;
}
  

#host-page:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

#host-page h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: 333;
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: fadeInUp 0.8s ease both;
}

#host-page p {
    line-height: 1.8;
    font-size: 16px;
    margin-bottom: 20px;
    color: 555;
    text-align: justify;
    animation: fadeInUp 1s ease both;
}

header nav ul li a:hover {
  color: #cccccc00;
}
#hhhh {
  width: 200px;
  height: 150px;
  
}
section::after2 {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #146654a4;
  mix-blend-mode: color;
  z-index: 99;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, #146654b4, transparent);
  width: 100%;
  height: 100px;
  z-index: 99;
}

section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #146654;
  mix-blend-mode: color;
  z-index: 99;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 10em;
}

#road {
  z-index: 2;
}
@media (max-aspect-ratio: 7/5) {
  #moon {
    object-fit: contain;
  }
}

@media (max-width: 1200px) {
  #text {
    font-size: 4em;
  }
}

@media (max-width: 750px) {
  #text {
    font-size: 2em;
  }
}

@media (max-width: 640px) {
  #text {
    display: none;
  }
}